*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}    

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

header{
  
  padding-top: 30px;
  background: url("../images/developer.png"), url("../images/header_bg.png"), #FFF8F3;
  background-position: top left, bottom right;
  background-repeat: no-repeat;
}


/* Shared Style  */

.btn{
  background-color:#FD6E0A;
  font-size: 20px;
  font-weight: bold;
  padding: 18px 36px;
  color: white;
  border-radius: 5px;
  border: none;
}

/* nav bar styling */


.logo h2{
  font-size: 45px;
  font-weight: bolder;    

}

.orange-color{
  color: #FD6E0A;
}

nav{
  width:85%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

nav .nav-list {
  display: flex;
  gap: 50px;
  list-style: none ;
  align-items: center;
}

.nav-list a{
  text-decoration: none;
  font-size: 20px;
  color: #474747;
}


/* Hero section  */


.hero {
	/* margin: 46px 38px 0 230px; */
	/* width: 85%; */
	/* max-width: 1140px; */
	margin: 0px 38px 0px 187px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.hero-info h2{
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #474747;
}

.hero-info h1{
  font-size: 85px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #181818;
}

.hero-info p{
  font-size: 18px;
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px;
}

.hero-info-button{
  gap: 30px;
  display: flex;
}

.hero-img img{
  max-width: 584px;
  vertical-align: middle;
}